@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #000;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 20px;
  &:active {
    transform: scale(0.96);
    opacity: 0.9;
  }
}
.calculator {
  display: grid;
  grid-template:
    ". . . clear" 5rem
    "num7 num8 num9 plus" 5rem
    "num4 num5 num6 minus" 5rem
    "num1 num2 num3 multi" 5rem
    "num0 num0 equal divi" 5rem
    /10rem 10rem 10rem 10rem;
  gap: 0.5rem;
  color: white;
  align-items: center;
  div {
    &:hover {
      opacity: 95%;
      cursor: pointer;
    }
  }
}
.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  height: 5rem;
  width: 30rem;
  color: white;
  font-size: 2.5rem;
}
.clear {
  grid-area: clear;
  background: $gray;
}
.number {
  background: $black;
}
#num0 {
  grid-area: num0;
}
#num1 {
  grid-area: num1;
}
#num2 {
  grid-area: num2;
}
#num3 {
  grid-area: num3;
}
#num4 {
  grid-area: num4;
}
#num5 {
  grid-area: num5;
}
#num6 {
  grid-area: num6;
}
#num7 {
  grid-area: num7;
}
#num8 {
  grid-area: num8;
}
#num9 {
  grid-area: num9;
}
#equal {
  grid-area: equal;
}
.op {
  background: $blue;
}
#plus {
  grid-area: plus;
}
#minus {
  grid-area: minus;
}
#multi {
  grid-area: multi;
}
#divi {
  grid-area: divi;
}
